img {
  width: 100%;
}

ul {
  padding-left: unset;
  list-style-type: none;
}

body {
  background: url('./../images/bg.jpg') top left / cover no-repeat;
}

a {
  text-decoration: none;
}

.nav--main .nav__item {
  background-color: #A73634;
}

.nav--main .nav__link {
  color: #FFF;
}

.nav--main .nav__item:not(:last-child) {
  margin-right: 10px;
}

.header {
  width: 80%;
  height: 40px;
}

.social-buttons {
  display: inline-flex;
  float: right;
}

.social-buttons > * {
  margin: 3px;
  float: right;
}

.subscribe {
  display: inline-flex;
  float: right;
  margin-right: 20%
}

#carousel {
  height: 365px;
  background: url('./../images/top-image.png') no-repeat -120px -120px;
  position: relative;
  overflow: hidden;
}

#carousel::before {
  content: url('./../images/grid.png');
  opacity: .3;
}

#carousel > .logo {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 50%;
}

#news > * {
  background-color: #FFF;
}

#skateboarders img {
  min-height: 100%;
  min-width: 100%;
}

.skateboarder {
  border: 5px solid #FFF;
  overflow: hidden;
  position: relative;
}

.skateboarder_lance {
  margin-right: 1.5rem;
}

.skateboarder_tommy {
  height: 100%;
}

.skateboarder span {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

#skateboards {
background: #FFF;
padding: 20px;
}

@media (min-width: 768px) {
  .skateboard-image {
    transform-origin: top left;
    transform: rotate(90deg) translateY(-25%);
    height: 260px;
    width: 65px;
  }
}

/* #skateboards > * {
  transform-origin: top left;
  transform: rotate(90deg) translateY(-25%);
  height: 100px;
  width: 65px;
} */

.footer {
  width: 80%;
  background-color: #FFF;
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
  }
}
